{{/*  list all spatial layers in page resources and site.Data.layers  */}}
{{ $allLyrs := slice }}
{{/*  workaround for comparisons (can't parse child .Params into slice inline)  */}}
{{ $allLyrsName := slice }}

{{/*  loop through current page resources  */}}
{{ range .Resources.Match "layers/*" }}
    {{ with . | transform.Unmarshal }}
        {{ $allLyrs = $allLyrs | append . }}
        {{ $allLyrsName = $allLyrsName | append .name }}
    {{ end }}
{{ end }}

{{/*  loop through site.data  */}}
{{ range .Site.Data.layers }}
    {{/*  if in page, skip  */}}
    {{ if not (in $allLyrsName .name) }}
        {{ $allLyrs = $allLyrs | append . }}
        {{ $allLyrsName = $allLyrsName | append .name }}
    {{ end }}
{{ end }}

{{/*  loop through story panel headmatter and list layers  */}}
{{ $storyLyrs := slice }}
    {{ range .Pages }}
      {{ $storyLyrs = $storyLyrs | append (split .Params.layers ",") }}
    {{ end }}
{{ $storyLyrs = $storyLyrs | uniq }}

{{/*  filter to only layers used */}}
{{ $activeLyrs := slice }}
{{ range $allLyrs }}
    {{ if in $storyLyrs .name }}
    {{ $activeLyrs = $activeLyrs | append . }}
    {{ end }}
{{ end }}

{{/* debug  */}}
{{/*  <div style="background:white;position:absolute;top:100px;">
{{ range $activeLyrs }}
    {{ .name }}
{{ end }}
</div>  */}}

<input type="hidden" id="language" value="{{ $.Language.Lang }}">

{{ range $index, $layer := $activeLyrs }}
{{/*  {{ range $index, $layer := .Site.Data.layers }}  */}}
  <input type="hidden" class="layers" layer-id="{{ $index }}" layer-name="{{ $layer.name }}" base-layer="{{ $layer.base_layer }}" {{ printf "layer-src=%q" $layer.link | safeHTMLAttr }} layer-type="{{ $layer.src_type }}" legend="{{ $layer.legend }}">
  {{ range $ind, $opt := $layer.options }} 
    <input type="hidden" class="layer-options" layer="{{$layer.name}}" opt-name="{{ $ind }}" opt-value="{{ $opt }}">
  {{ end }}
  {{ range $ind, $opt := $layer.style }}
    <input type="hidden" class="layer-style" layer="{{$layer.name}}" style-name="{{ $ind }}" style-value="{{ $opt }}">
  {{ end }}
{{ end }}

{{ range .Pages.ByParam "weight" }}
    {{ if .Params.visible }}
        {{ if eq .Params.layout "wide_over_bg" }}
            {{- partial "panel/wide_over_bg.html" . -}}
        {{ else if eq .Params.layout "full_width_bg_img" }}
            {{- partial "panel/full_width_bg_img.html" . -}}
        {{ else if eq .Params.layout "float_card" }}
            {{- partial "panel/float_card.html" . -}}
        {{ else if eq .Params.layout "panel_card" }}
            {{- partial "panel/panel_card.html" . -}}
        {{ else if eq .Params.layout "panel_float_card" }}
            {{- partial "panel/panel_float_card.html" . -}}
        {{ else if eq .Params.layout "init" }}
            {{- partial "panel/init.html" . -}}
        {{ else if eq .Params.layout "story_overview" }}
            {{- partial "panel/story_overview.html" . -}}
        {{ else if eq .Params.layout "story_toc" }}
            {{- partial "panel/story_toc.html" . -}}
        {{ end }}
    {{ end }}
{{ end }}


<div class="btn-group-lg d-grid gap-2 col-6 mx-auto vw-100">
    {{ $sections := .Parent.Sections.ByWeight }}
    {{ with $sections.Prev . }}
    <a class="btn section-nav-btn" href="{{ .RelPermalink }}">Next: {{ .Title }} →</a>
    {{ end }}
    {{ with $sections.Next . }}
    <a class="btn section-nav-btn" href="{{ .RelPermalink }}">← Previous: {{ .Title }}</a>
    {{ end }}
</div>