<input type="hidden" id="language" value="{{ $.Language.Lang}}">

{{ range $index, $layer := .Site.Data.layers }}
  <input type="hidden" class="layers" layer-id="{{$index}}" layer-name="{{$layer.name}}" base-layer="{{$layer.base_layer}}" {{ printf "layer-src=%q" $layer.link | safeHTMLAttr }} layer-type="{{$layer.src_type}}">
  {{ range $ind, $opt := $layer.options }} 
    <input type="hidden" class="layer-options" layer="{{$layer.name}}" opt-name="{{ $ind }}" opt-value="{{ $opt }}">
  {{ end }}
  {{ range $ind, $opt := $layer.style }}
    <input type="hidden" class="layer-style" layer="{{$layer.name}}" style-name="{{ $ind }}" style-value="{{ $opt }}">
  {{ end }}
{{ end }}


{{/*  {{ range $index, $section := sort .Pages "weight" }}  */}}
                {{/*  {{/*  {{ range .Pages.ByTitle }}   */}}
                {{ range .Pages.ByParam "weight" }}
                {{/*  {{ range sort .Pages .Params.weight }}  */}}
{{/*  {{ range .Pages "weight" }}  */}}
    {{ if .Params.visible }}
        {{ if eq .Params.layout "wide_over_bg" }}
            {{- partial "panel/wide_over_bg.html" . -}}
        {{ else if eq .Params.layout "full_width_bg_img" }}
            {{- partial "panel/full_width_bg_img.html" . -}}
        {{ else if eq .Params.layout "float_card" }}
            {{- partial "panel/float_card.html" . -}}
        {{ else if eq .Params.layout "panel_card" }}
            {{- partial "panel/panel_card.html" . -}}
        {{ else if eq .Params.layout "panel_float_card" }}
            {{- partial "panel/panel_float_card.html" . -}}
        {{ else if eq .Params.layout "init" }}
            {{- partial "panel/init.html" . -}}
        {{ else if eq .Params.layout "story_overview" }}
            {{- partial "panel/story_overview.html" . -}}
        {{ else if eq .Params.layout "story_toc" }}
            {{- partial "panel/story_toc.html" . -}}
        {{ end }}
    {{ end }}
{{ end }}


<div class="btn-group-lg d-grid gap-2 col-6 mx-auto vw-100">
    {{ $sections := .Parent.Sections.ByWeight }}
    {{ with $sections.Prev . }}
{{/*  <button type="button" class="btn">  */}}
    <a class="btn section-nav-btn" href="{{ .RelPermalink }}">Next: {{ .Title }} →</a>
{{/*  </button>  */}}
{{ end }}
{{ with $sections.Next . }}
{{/*  <button type="button" class="btn">  */}}
    <a class="btn section-nav-btn" href="{{ .RelPermalink }}">← Previous: {{ .Title }}</a>
{{/*  </button>  */}}
{{ end }}

  </div>
  
