{{ $section := . }}

{{ range $index, $layer := .Site.Data.layers }}
  <input type="hidden" class="layers" layer-id="{{$index}}" layer-name="{{$layer.name}}" base-layer="{{$layer.base_layer}}" {{ printf "layer-src=%q" $layer.link | safeHTMLAttr }} layer-type="{{$layer.src_type}}">
  {{ range $ind, $opt := $layer.options }} 
    <input type="hidden" class="layer-options" layer="{{$layer.name}}" opt-name="{{ $ind }}" opt-value="{{ $opt }}">
  {{ end }}
  {{ range $ind, $opt := $layer.style }}
    <input type="hidden" class="layer-style" layer="{{$layer.name}}" style-name="{{ $ind }}" style-value="{{ $opt }}">
  {{ end }}
{{ end }}

<section class='{{ replaceRE "(\\s)" "_" $section.name }} {{ $section.name }}-bg-img wide-over-bg {{ $section.class }}'  data-scene="{{ $section.name }}" data-background="{{ $section.background_media }}" lat="{{ $section.lat }}" lng="{{ $section.lng }}" zoom="{{ $section.zoom }}" layers="{{ $section.layers }}" init-js="{{ $section.init_js }}">
  
{{ if $section.splash }}
  <div class="section-splash justify-content-center text-center">
  {{ if $section.title }}
  <h1>{{ $section.title }}</h1>
  {{ end }}

  {{ if $section.subtitle }}
  <h2>{{ $section.subtitle }}</h2>
  {{ end }}

  {{ if $section.description }}
  <p>{{ $section.description | markdownify }}</p>
  {{ end }}
  </div>
{{ end }}  
  
  <div class = "card mx-auto">

        {{ if $section.left_markdown }}
            <div class = "card-body">{{ $section.left_markdown  | markdownify}}</div>
        {{ end }}
        {{ if $section.body_md }}
            <div class = "card-body">{{ $section.body_md  | markdownify}}</div>
            {{ if $section.body_html }}

            <iframe src="{{ $section.body_html }}" width="{{ $section.body_html_width }}" height="{{ $section.body_html_height }}" style="border:none;" class="{{ $section.body_html_class}}"></iframe>
                        {{/*  {{- partial $section.body_html . -}}  */}}
           {{end}}
         {{ end }}
         {{ if $section.left_html }}

         <iframe src="{{ $section.left_html }}" width="{{ $section.left_html_width }}" height="{{ $section.left_html_height }}" style="border:none;" class="{{ $section.left_html_class}}"></iframe>
                     {{/*  {{- partial $section.left_html . -}}  */}}
        {{end}}
        </div>

    <div></div>
    {{ if $section.attribution }}
        <div class="attribution">{{ $section.attribution }}</div>
    {{end}}
</section>
