public/story/scaling/challenge_1/challenge1/index.html
public/story/scaling/challenge_1/data/AC_output_inundation_poly_4_5.shp
public/story/scaling/challenge_1/data/AC_output_inundation_poly_5_6.shp
public/story/scaling/challenge_1/data/AC_output_inundation_poly_5.shp
public/story/scaling/challenge_1/data/AC_output_inundation_poly_6_8.shp
public/story/scaling/challenge_1/data/CumberlandBasin.shp
public/story/scaling/challenge_1/data/sources.xlsx
public/story/scaling/challenge_1/data/StudySiteMarkers.shp
public/story/scaling/challenge_1/data/UpperBOFTidalMarshes.shp
public/story/scaling/challenge_1/data/WPRS_cores.shp
public/story/scaling/challenge_1/data/WPRS_studyarea.shp
public/story/scaling/challenge_1/images/bd1.JPG
public/story/scaling/challenge_1/images/bd2.JPG
public/story/scaling/challenge_1/images/bd3.JPG
public/story/scaling/challenge_1/images/bd4.JPG
public/story/scaling/challenge_1/images/carbonstock.jpg
public/story/scaling/challenge_1/images/con_h3.JPG
public/story/scaling/challenge_1/images/cooler.JPG
public/story/scaling/challenge_1/images/corePVC.jpg
public/story/scaling/challenge_1/images/corer1.JPG
public/story/scaling/challenge_1/images/corer2.jpg
public/story/scaling/challenge_1/images/corer3.JPG
public/story/scaling/challenge_1/images/Craft1991.jpg
public/story/scaling/challenge_1/images/cutcore.JPG
public/story/scaling/challenge_1/images/dry1.jpg
public/story/scaling/challenge_1/images/dry2.jpg
public/story/scaling/challenge_1/images/image2.png
public/story/scaling/challenge_1/images/image3.png
public/story/scaling/challenge_1/images/image4.png
public/story/scaling/challenge_1/images/image7.png
public/story/scaling/challenge_1/images/image8.png
public/story/scaling/challenge_1/images/image13.png
public/story/scaling/challenge_1/images/image14.jpg
public/story/scaling/challenge_1/images/image17.png
public/story/scaling/challenge_1/images/image19.png
public/story/scaling/challenge_1/images/image23.jpg
public/story/scaling/challenge_1/images/image24.png
public/story/scaling/challenge_1/images/image25.jpg
public/story/scaling/challenge_1/images/image26.png
public/story/scaling/challenge_1/images/image28.png
public/story/scaling/challenge_1/images/image29.jpg
public/story/scaling/challenge_1/images/image33.jpg
public/story/scaling/challenge_1/images/image40.png
public/story/scaling/challenge_1/images/loi1.jpg
public/story/scaling/challenge_1/images/loi2.jpg
public/story/scaling/challenge_1/images/loi3.jpg
public/story/scaling/challenge_1/images/mortar1.jpg
public/story/scaling/challenge_1/images/mortar2.jpg
public/story/scaling/challenge_1/images/roots.JPG
public/story/scaling/challenge_1/images/survey.JPG
public/story/scaling/challenge_1/images/wp_l1.JPG
public/story/scaling/challenge_1/img/bd1.JPG
public/story/scaling/challenge_1/img/bd2.JPG
public/story/scaling/challenge_1/img/bd3.JPG
public/story/scaling/challenge_1/img/bd4.JPG
public/story/scaling/challenge_1/img/carbonstock.jpg
public/story/scaling/challenge_1/img/con_h3.JPG
public/story/scaling/challenge_1/img/cooler.JPG
public/story/scaling/challenge_1/img/corePVC.jpg
public/story/scaling/challenge_1/img/corer1.JPG
public/story/scaling/challenge_1/img/corer2.jpg
public/story/scaling/challenge_1/img/corer3.JPG
public/story/scaling/challenge_1/img/Craft1991.jpg
public/story/scaling/challenge_1/img/cutcore.JPG
public/story/scaling/challenge_1/img/dry1.jpg
public/story/scaling/challenge_1/img/dry2.jpg
public/story/scaling/challenge_1/img/image2.png
public/story/scaling/challenge_1/img/image3.png
public/story/scaling/challenge_1/img/image4.png
public/story/scaling/challenge_1/img/image7.png
public/story/scaling/challenge_1/img/image8.png
public/story/scaling/challenge_1/img/image13.png
public/story/scaling/challenge_1/img/image14.jpg
public/story/scaling/challenge_1/img/image17.png
public/story/scaling/challenge_1/img/image19.png
public/story/scaling/challenge_1/img/image23.jpg
public/story/scaling/challenge_1/img/image24.png
public/story/scaling/challenge_1/img/image25.jpg
public/story/scaling/challenge_1/img/image26.png
public/story/scaling/challenge_1/img/image28.png
public/story/scaling/challenge_1/img/image29.jpg
public/story/scaling/challenge_1/img/image33.jpg
public/story/scaling/challenge_1/img/image40.png
public/story/scaling/challenge_1/img/loi1.jpg
public/story/scaling/challenge_1/img/loi2.jpg
public/story/scaling/challenge_1/img/loi3.jpg
public/story/scaling/challenge_1/img/mortar1.jpg
public/story/scaling/challenge_1/img/mortar2.jpg
public/story/scaling/challenge_1/img/roots.JPG
public/story/scaling/challenge_1/img/survey.JPG
public/story/scaling/challenge_1/img/wp_l1.JPG
public/story/scaling/challenge_1/other/sources.xlsx
public/story/scaling/challenge_2a/data/algonquin_boundary_v1.cpg
public/story/scaling/challenge_2a/data/algonquin_boundary_v1.dbf
public/story/scaling/challenge_2a/data/algonquin_boundary_v1.prj
public/story/scaling/challenge_2a/data/algonquin_boundary_v1.qmd
public/story/scaling/challenge_2a/data/algonquin_boundary_v1.shp
public/story/scaling/challenge_2a/data/algonquin_boundary_v1.shx
public/story/scaling/challenge_2a/data/forest_fire_year_2003_2020.cpg
public/story/scaling/challenge_2a/data/forest_fire_year_2003_2020.dbf
public/story/scaling/challenge_2a/data/forest_fire_year_2003_2020.prj
public/story/scaling/challenge_2a/data/forest_fire_year_2003_2020.qmd
public/story/scaling/challenge_2a/data/forest_fire_year_2003_2020.shp
public/story/scaling/challenge_2a/data/forest_fire_year_2003_2020.shx
public/story/scaling/challenge_2a/data/forest_harvest_year_2003_2020.cpg
public/story/scaling/challenge_2a/data/forest_harvest_year_2003_2020.dbf
public/story/scaling/challenge_2a/data/forest_harvest_year_2003_2020.prj
public/story/scaling/challenge_2a/data/forest_harvest_year_2003_2020.qmd
public/story/scaling/challenge_2a/data/forest_harvest_year_2003_2020.shp
public/story/scaling/challenge_2a/data/forest_harvest_year_2003_2020.shx
public/story/scaling/challenge_2a/data/NDVI_16day_1km_trend_breakpoints_v1.cpg
public/story/scaling/challenge_2a/data/NDVI_16day_1km_trend_breakpoints_v1.dbf
public/story/scaling/challenge_2a/data/NDVI_16day_1km_trend_breakpoints_v1.prj
public/story/scaling/challenge_2a/data/NDVI_16day_1km_trend_breakpoints_v1.qmd
public/story/scaling/challenge_2a/data/NDVI_16day_1km_trend_breakpoints_v1.shp
public/story/scaling/challenge_2a/data/NDVI_16day_1km_trend_breakpoints_v1.shx
public/story/scaling/challenge_2a/data/NDVI_16day_250m_trend_breakpoints_v1.cpg
public/story/scaling/challenge_2a/data/NDVI_16day_250m_trend_breakpoints_v1.dbf
public/story/scaling/challenge_2a/data/NDVI_16day_250m_trend_breakpoints_v1.prj
public/story/scaling/challenge_2a/data/NDVI_16day_250m_trend_breakpoints_v1.qmd
public/story/scaling/challenge_2a/data/NDVI_16day_250m_trend_breakpoints_v1.shp
public/story/scaling/challenge_2a/data/NDVI_16day_250m_trend_breakpoints_v1.shx
public/story/scaling/challenge_2a/data/NDVI_16day_500m_trend_breakpoints_v1.cpg
public/story/scaling/challenge_2a/data/NDVI_16day_500m_trend_breakpoints_v1.dbf
public/story/scaling/challenge_2a/data/NDVI_16day_500m_trend_breakpoints_v1.prj
public/story/scaling/challenge_2a/data/NDVI_16day_500m_trend_breakpoints_v1.qmd
public/story/scaling/challenge_2a/data/NDVI_16day_500m_trend_breakpoints_v1.shp
public/story/scaling/challenge_2a/data/NDVI_16day_500m_trend_breakpoints_v1.shx
public/story/scaling/challenge_2a/images/ConceptualFigureMixedPixel.png
public/story/scaling/challenge_2a/images/ndvi_breakpts_direction_v4.png
public/story/scaling/challenge_2a/images/resnet_upscaling_grain_size2.png
public/story/scaling/challenge_2b/challenge2b/index.html
public/story/scaling/challenge_2b/data/bombus_pcrop_3km_monteregie.dbf
public/story/scaling/challenge_2b/data/bombus_pcrop_3km_monteregie.prj
public/story/scaling/challenge_2b/data/bombus_pcrop_3km_monteregie.shp
public/story/scaling/challenge_2b/data/bombus_pcrop_3km_monteregie.shx
public/story/scaling/challenge_2b/data/bombus_pcrop_watershed_monteregie.dbf
public/story/scaling/challenge_2b/data/bombus_pcrop_watershed_monteregie.prj
public/story/scaling/challenge_2b/data/bombus_pcrop_watershed_monteregie.shp
public/story/scaling/challenge_2b/data/bombus_pcrop_watershed_monteregie.shx
public/story/scaling/challenge_2b/data/sources.xlsx
public/story/scaling/challenge_2b/data/supply-demand ratio.tiff
public/story/scaling/challenge_2b/images/supply-demand_ratio_rescale.png
public/story/scaling/challenge_2b/img/supply-demand_ratio_rescale.png
public/story/scaling/challenge_2b/other/sources.xlsx
public/story/scaling/challenge_2c/challenge2c/index.html
public/story/scaling/challenge_2c/data/sources.xlsx
public/story/scaling/challenge_2c/images/fig2cLeft.png
public/story/scaling/challenge_2c/images/fig2cMiddle.png
public/story/scaling/challenge_2c/images/fig2cRight.png
public/story/scaling/challenge_2c/img/fig2cLeft.png
public/story/scaling/challenge_2c/img/fig2cMiddle.png
public/story/scaling/challenge_2c/img/fig2cRight.png
public/story/scaling/challenge_2c/other/sources.xlsx
public/story/scaling/challenge_2d/challenge2d/index.html
public/story/scaling/challenge_2d/data/plotly_baselines.R
public/story/scaling/challenge_2d/data/salmonRiver.csv
public/story/scaling/challenge_2d/data/SalmonRiverWatershedStoryMap.dbf
public/story/scaling/challenge_2d/data/SalmonRiverWatershedStoryMap.prj
public/story/scaling/challenge_2d/data/SalmonRiverWatershedStoryMap.shp
public/story/scaling/challenge_2d/data/SalmonRiverWatershedStoryMap.shx
public/story/scaling/challenge_2d/data/sources.xlsx
public/story/scaling/challenge_2d/images/ImageChallenge2d.png
public/story/scaling/challenge_2d/img/ImageChallenge2d.png
public/story/scaling/challenge_2d/other/plotly_baselines.R
public/story/scaling/challenge_2d/other/salmonRiver.csv
public/story/scaling/challenge_2d/other/sources.xlsx
public/story/scaling/challenge_3/data/MRCV-VR shapefile.zip
