<section class='{{ replaceRE "(\\s)" "_" .Params.name }} wide-over-bg {{ .Params.name }}-bg-img {{ .Params.class }}' data-scene="{{ .Params.name }}" lat="{{ .Params.lat }}" lng="{{ .Params.lng }}" zoom="{{ .Params.zoom }}" layers="{{ .Params.layers }}" init-js="{{ .Params.init_js }}">


    {{/*  <div class="fluid-container" style="min-height:60vw;background:black;color:white;">
        {{ .Content }}
        {{ .Page.Title }}
        {{ range .CurrentSection.Pages }}
        {{ .Title }}
        {{ end }}
    </div>  */}}

    {{/*  <div class="card panel-card mx-auto" style="background:none;width:fit-content;">
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col mx-auto">
                    {{ range .CurrentSection.Pages }}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"> {{ .Title }} </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> {{ .Description }} </p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="{{ .RelPermalink | relURL }}" class="btn pull-right">View→</a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
      </div>  */}}


            {{/*  <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col mx-auto">
                    {{ range .CurrentSection.Pages }}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"> {{ .Title }} </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> {{ .Description }} </p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="{{ .RelPermalink | relURL }}" class="btn pull-right">View→</a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>  */}}

            {{/*  <ul class="list-group">
                {{ range .CurrentSection.Pages }}
                <li href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ .Title }}</h5>
                    <a class="text-muted small" href="{{ .RelPermalink | relURL }}" class="btn pull-right">View→</a>
                  </div>
                  <p class="mb-1">{{ .Description }}</p>
                </li>
                {{ end }}
              </ul>  */}}

              <div class="card panel-card mx-auto">
                <div class="card-body">
                    <div class="card-title h3">{{ .Title }}</div>

                    {{ .Content }}

                    <h4>Table of Contents:</h4>
                    <div class="list-group">
                        {{ range .CurrentSection.Pages }}
                        <a href="{{ .RelPermalink | relURL }}" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ .Title }}</h5>
                          </div>
                          <p class="mb-1">{{ .Description }}
                            <small class="text-muted pull-right">View→</small>
                          </p>
                        </a>
                        {{ end }}
                      </div>
                </div>
              </div>

              

                {{/*  <ul class="list-group">
                    {{ range .CurrentSection.Pages }}
                    <li class="list-group-item">
                        <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"> {{ .Title }} </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> {{ .Description }} </p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="{{ .RelPermalink | relURL }}" class="btn pull-right">View→</a>
                        </div>
                    </div>
                    </li>
                    {{ end }}
                </ul>  */}}





</section>

{{/*  {{with .Params}}  */}}