{{ if .Title }}
<figure class="figure{{ if .Attributes.center }} d-block mx-auto text-center {{ end }}" {{with .Attributes}}style="{{ if .float }}float:{{ .float }};{{ end }} {{ if .clear }}clear:{{ .clear }};{{ end }} {{ if .width }} max-width:{{ .width }};{{else}} max-width:30%;{{end}}"{{end}}>
    <a href="{{ .Destination | safeURL }}" data-dimbox data-dimbox-caption="{{ .Title }}">
        {{/*  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" class="figure-img {{with .Attributes.class}}{{.}}{{end}}" style="max-height:fit-content; object-fit:contain;"/>  */}}
        <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" class="figure-img {{with .Attributes.class}}{{.}}{{end}}" />
    </a>
    <figcaption class="figure-caption text-wrap">{{ .Title }}</figcaption>
</figure>
{{ else }}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" class="{{ if .Attributes.center }} d-block mx-auto text-center {{ end }}" {{with .Attributes}}style="{{ if .float }} float: {{.float}}; {{ end }} {{ if .clear }} clear: {{.clear}}; {{ end }} {{ if .width }} max-width:{{ .width }}; max-height:fit-content; object-fit:contain; {{ end }}"{{end}}/>
{{ end }}