<div class="modal fade" id="onmobile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">This application is not compatible with mobile devices.</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
          <p>Your are attempting to view this application from a mobile device, or from a browser window with a narrow horizontal resolution.</p>
          <p>This application is deisgned and tested with a mininum width of 800px, A mobile-friendly layout for this website HAS NOT BEEN IMPLEMENTED.</p>
          <p>You will be unable to view content or navigate.</p>
          <p>There are plans to implement a mobile responsive design. Please hold any comments or feedback on your mobile experience until that version is released.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">I insist.</button>
        </div>
      </div>
    </div>
  </div>
  
