<div class="modal fade" id="onload-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Welcome to Our Work-In-Progress!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">

            <h4>We're excited to share a sneak peak of our project with AGM attendees.</h4>

            <br>

            <h3>Our Vision</h3>
            <p>Our HQP working group spans researchers working across scales (*e.g.*, local field studies, landscape/regional modeling studies). We are united in our goals to share our research with a broader audience and to discuss challenges and successes of monitoring and modeling ecosystem services across scales in Canada. We are creating a story map to discuss shared challenges and solutions related to scaling.</p>

            <br>

            <h3>Current Status</h3>
            <p>This draft story map is under construction. We are sharing this draft to start a discussion about scaling and about how to best present our findings to a general audience. We welcome any suggestions, as we continue to develop this story map during and after the AGM. </p>
            
            <p>Content that is still under development or planned is indicated by text in this style: <br><code>[Incomplete Feature]</code></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">I Understand.</button>
        </div>
      </div>
    </div>
  </div>
  

  