<div id="app" class="overview-container">
  <div class="overview-item project-carly" scene-name="story_splash">
    <h1>Story elements</h1>
    <span class="overview-author">Click to navigate</span>
  </div>
  <div class="overview-item project-matt" scene-name="story_splash">
  	<h1>Can also be</h1>
    <span class="overview-author">Click to navigate</span>
  </div>
  <div class="overview-item project-kyle" scene-name="story_splash">
	  <h1>Used for</h1>
    <span class="overview-author">Click to navigate</span>
  </div>
  <div class="overview-item project-dory" scene-name="story_splash">
	  <h1>Custom navigation</h1>
    <span class="overview-author">Click to navigate</span>
  </div>
</div>