<input type="hidden" id="language" value="{{ $.Language.Lang}}">

{{ range $index, $layer := .Site.Data.layers }}
  <input type="hidden" class="layers" layer-id="{{$index}}" layer-name="{{$layer.name}}" base-layer="{{$layer.base_layer}}" {{ printf "layer-src=%q" $layer.link | safeHTMLAttr }} layer-type="{{$layer.src_type}}">
  {{ range $ind, $opt := $layer.options }} 
    <input type="hidden" class="layer-options" layer="{{$layer.name}}" opt-name="{{ $ind }}" opt-value="{{ $opt }}">
  {{ end }}
  {{ range $ind, $opt := $layer.style }}
    <input type="hidden" class="layer-style" layer="{{$layer.name}}" style-name="{{ $ind }}" style-value="{{ $opt }}">
  {{ end }}
{{ end }}

{{ range $index, $section := sort .Site.Data.sections "weight" }}
    {{ if $section.visible }}
    {{/*  <div id="status-warning" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
      </div>  */}}
        {{ if eq $section.layout "float_left" }}
            {{- partial "legacy/story/float_left.html" . -}}
        {{ else if eq $section.layout "full_html" }}
            {{- partial "legacy/story/full_html.html" . -}}
        {{ else if eq $section.layout "splash" }}
            {{- partial "legacy/story/splash.html" . -}}
        {{ else if eq $section.layout "splash_md" }}
            {{- partial "legacy/story/splash_md.html" . -}}
        {{ else if eq $section.layout "fullscreen" }}
            {{- partial "legacy/story/fullscreen.html" . -}}
        {{ else if eq $section.layout "full_width" }}
            {{- partial "legacy/story/full_width.html" . -}}
        {{ else if eq $section.layout "accordion" }}
            {{- partial "legacy/story/accordion.html" . -}}
        {{ else if eq $section.layout "carousel" }}
            {{- partial "legacy/story/carousel.html" . -}}
        {{ else if eq $section.layout "full_width_inset" }}
            {{- partial "legacy/story/full_width_inset.html" . -}}
        {{ else if eq $section.layout "wide_over_bg" }}
            {{- partial "legacy/story/wide_over_bg.html" . -}}
        {{ else if eq $section.layout "init" }}
            {{- partial "legacy/story/init.html" . -}}
        {{/*  {{ else }}  */}}
            {{/*  {{- partial "legacy/story/float_left.html" . -}}  */}}
        {{ end }}
    {{/*  </section>  */}}
    {{ end }}
{{ end }}