<section class='{{ replaceRE "(\\s)" "_" .Params.name }} wide-over-bg {{ .Params.name }}-bg-img {{ .Params.class }}' data-scene="{{ .Params.name }}" lat="{{ .Params.lat }}" lng="{{ .Params.lng }}" zoom="{{ .Params.zoom }}" layers="{{ .Params.layers }}" init-js="{{ .Params.init_js }}">

              <div class="card panel-card mx-auto">
                <div class="card-body">
                    <div class="card-title h3">{{ .Title }}</div>

                    {{ .Content }}

                    <h4>Table of Contents:</h4>
                    <div class="list-group">
                        {{ range .CurrentSection.Sections }}
                        <a href="{{ .RelPermalink | relURL }}" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ .Title }}</h5>
                          </div>
                          <p class="mb-1">{{ .Description }}
                            <small class="text-muted pull-right">View→</small>
                          </p>
                        </a>
                        {{ end }}
                      </div>
                </div>
              </div>

</section>