<section class='{{ replaceRE "(\\s)" "_" .Params.name }} wide-over-bg {{ .Params.name }}-bg-img {{ .Params.class }}' data-scene="{{ .Params.name }}" lat="{{ .Params.lat }}" lng="{{ .Params.lng }}" zoom="{{ .Params.zoom }}" layers="{{ .Params.layers }}" init-js="{{ .Params.init_js }}" style="opacity:1;background-image:url('{{ .Params.background_media}}')">
  <div class="section-splash justify-content-center text-center">
    <h1>{{ .Title }}</h1>
  </div>
  <div class="card panel-card mx-auto">
    {{/*  <div class="card-body">  */}}
      {{/*  <div class="card-title h3">{{ .Title }}</div>  */}}
      {{/*  {{ .Content }}  */}}
      
      <div class="list-group list-group-flush">
        {{ range .CurrentSection.Sections }}
        <a href="{{ .RelPermalink | relURL }}" class="list-group-item list-group-item-action">
          <div class="row">
            
            <div class="col-2">
              {{ if .Params.thumbnail }}
              <img src="{{ urls.JoinPath .RelPermalink .Params.thumbnail }}" class="rounded float-start img-thumbnail img-fluid toc">
              {{ end }}
            </div>
            <div class="col">
              <h5 class="">{{ .Title }}</h5>
              <p class="">{{ .Description }}</p>
              {{ if .Params.authors }}
              <p class="section-author blockquote-footer">Authors: {{ .Params.authors }}</p>
              {{ end }}
            </div>
            
          </div>
          <small class="text-muted pull-right">View→</small>

        </a>
        {{ end }}
      </div>
    {{/*  </div>  */}}
  </div>
  
</section>