<div class="page-container">
    <div class="{{ .Get "class" }} img-gallery" style="background:black">
        {{/*  <div class="img-gallery__item" style="background:red">  */}}
            {{/*  <ul>  */}}
                {{ .Inner }}
            {{/*  </ul>  */}}
        {{/*  </div>  */}}
        {{/*  <div class="row">
            <figcaption class="figure-caption">Test</figcaption>
        </div>  */}}
    </div>
</div>

{{/*  <div class="{{ .Get "class" }}" style="background:black">
    <div class="row" style="background:red">
        <ul>
            {{ .Inner }}
        </ul>
    </div>
    <div class="row">
        <figcaption class="figure-caption">Test</figcaption>
    </div>
</div>    */}}

{{/*  
{{ $seed := now }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{ $random }}  */}}