{{- $src := .Get "src" -}}
{{- with .Parent -}}
<div class="img-gallery__item image-thumbnail" style="background:red">

<figure class="figure">
    {{/*  <a href="{{ $src }}" data-dimbox="test" data-dimbox-caption="testcap" >  */}}
        {{/*  <img src="{{ $src }}" class="{{ .Get "class" }}-image rounded img-thumbnail img-fluid">  */}}
        <img src="{{ $src }}">
    {{/*  </a>  */}}
    {{/*  <figcaption class="figure-caption text-wrap">test title</figcaption>  */}}
</figure>
</div>
{{- else -}}
  <img src="{{ $src }}">
{{- end -}}

